:root{
    --color-background: #6bb1d9;
}

html,
body{
    height: 100%;
}

html{
    display: table;
    margin: auto;
}

body{
    display: table-cell;
    vertical-align: middle;
    background-color: var(--color-background);
}

#login-page{
    width: 500px;
}